@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto&display=swap');

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  width: max-content;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.fundo__cabecalho {
  min-width: 100vw;
  background-color: rgb(45, 45, 45);
}

.cabecalho {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  width: 144rem;
}

.cabecalho__nav {
  align-self: center;
}

.list {
  display: flex;
  list-style: none;
  gap: 3rem;
  padding: 0;
}

.list a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 1.5rem;
  outline: 2px solid;
  letter-spacing: .15rem;
} 

.list a:hover {
  color: rgb(45, 45, 45) !important;
  background-color: rgb(255, 213, 0);
}

.list a:visited{
  color: rgb(255, 213, 0);
}

.fundo__hero{
  background-image: linear-gradient(white, rgb(255, 255, 57));
}

.hero{
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 144rem;
}

.hero__info{
  width: 50rem;
  align-self: center;
}

.hero__text{
  font-weight: bold;
  font-size: 7rem;
  letter-spacing: .35rem;
}

.cta{
  font-weight: bold;
  font-size: 2.6rem;
  padding: 2rem 5rem;
  border-radius: .5rem;
  letter-spacing: .15rem;
  background-color: rgb(255, 213, 0);
}

.fmt--link:visited{
  color: black;
}

.fmt--link{
  text-decoration: none;
}

.fundo__main{
  background-color: rgb(246, 246, 246);
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 144rem;
}

.main__title{
  text-transform: capitalize;
  margin: 6.2rem 0;
  font-size: 4.2rem;
  letter-spacing: .12rem;
}

.cards{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.cards__item{
  width: 40rem;
  border-radius: 1rem;
  background-color: white;
  transition: all .2s 0s linear;
  outline: 1px solid rgb(237, 237, 237);
}

.cards__item:hover{
  box-shadow: -.8rem 1rem 1rem 0px #DBDBDB;
  transform: translate(5px, -5px);
}

.cards__item__img{
  width: 100%
}

.cards__item__title{
  text-align: left;
  font-weight: bold;
  letter-spacing: .12rem;
  padding: 0 2rem;
  font-size: 2.6rem;
}

.cards__item__text{
  padding: 0 2rem 2.6rem;
  font-size: 2rem;
  letter-spacing: .12rem;
}

.padding--btn--main{
  margin: 6rem 0;
}

.fundo--about{
  background-color: rgb(0,52,100);
}

.about{
  display: flex;
  margin: 0 auto;
  width: 144rem;
  padding: 5.6rem 0 0;
  gap: 5rem;
  letter-spacing: .12rem;
  color: white;
}

.about__info__title{
  font-size: 4.2rem;
  margin-bottom: 5rem;
}

.about__info__text{
  font-size: 2.2rem;
  line-height: 1.5;
}

.fundo--contatos{
  padding: 0;
  background-color: rgb(246, 246, 246);
}

.contatos{
  margin: 0 auto;
  width: 144rem;
}

.contatos__title{
  text-align: center;
  font-size: 4.2rem;
  padding: 6rem;
  margin: 0;
}

.mapa{
  width: fit-content;
  margin: 0 auto;
}

.mapa__localizacao{
  font-size: 1.8rem;
  text-align: right;
}

.footer--width{
  background-color: rgb(45, 45, 45);
}

.page__footer{
  color: white;
  text-align: center;
  font-size: 1.6rem;
  padding: 3rem 0;
}
