@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto&display=swap');

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  width: max-content;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.fundo__cabecalho {
  min-width: 100vw;
  background-color: rgb(45, 45, 45);
}

.cabecalho {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  width: 144rem;
}

.cabecalho__nav {
  align-self: center;
}

.list {
  display: flex;
  list-style: none;
  gap: 3rem;
  padding: 0;
}

.list a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 1.5rem;
  outline: 2px solid;
  letter-spacing: .15rem;
} 

.list a:hover {
  color: rgb(45, 45, 45) !important;
  background-color: rgb(255, 213, 0);
}

.list a:visited{
  color: rgb(255, 213, 0);
}

.fundo__hero{
  background-image: linear-gradient(white, rgb(255, 255, 57));
}

.hero{
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 144rem;
}

.hero__info{
  width: 50rem;
  align-self: center;
}

.hero__text{
  font-weight: bold;
  font-size: 7rem;
  letter-spacing: .35rem;
}

.hero__cta{
  font-weight: bold;
  text-decoration: none;
  font-size: 2.6rem;
  padding: 2rem 5rem;
  border-radius: .5rem;
  letter-spacing: .15rem;
  background-color: rgb(255, 213, 0);
}

.hero__cta:visited{
  color: black;
}

.contatos__img {
  width: 100rem;
}