body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-bottom: 0;
  background-color: #cecdcb;
}

.sup-sec{
  padding-top: 1px;
  height: 500px;

  background-image: url(imagens/bg-3.jpg);
  background-size: cover;
  background-position: right center;
}

.sup-sec header{
  text-align: center;
  font-size: 30px;
  margin-top: 120px;
  color: white;
  text-shadow: 2px 2px 1px #1d1c1a;
}

.sup-sec div{
  width: fit-content;
  margin: 10px auto;
  padding: 15px;
  border-bottom: 3px solid;
  color: rgb(255, 255, 255);
  background-color: #0b0909aa;
}

.sup-sec ul{
  list-style-type: none;
  padding: 10px 10% 0 0;
  float: right;
}

.sup-sec li{
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 12px;
  padding: 10px;
  opacity: 60%;
  background-color: #616966;
  border: 1px solid white;
}

nav a{
  text-decoration: none;
  color: white;
}

ul li:hover{
  opacity: 50%;
  background-color: rgb(15, 14, 13);
}

.sub-sec{
  margin: 15px 30%;
}

.sub-sec article{
  padding: 15px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
}

article h2{
  margin-top: 0;
  padding: 5px;
  border-bottom: 2px solid black;
  background-color: rgb(230, 231, 232);
}

.sub-sec p{
  font-size: 19px;
  line-height: 1.5;
  text-align: justify;
}

.btn{
  display: block;
  width: fit-content;
  margin-left: auto;
  border-radius: 6px;
  padding: 10px;
  background-color: rgb(220, 219, 217);
}

footer{
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
  letter-spacing: 1px;
  padding: 15px;
  color: rgb(255, 255, 255);
  background-color: #6b6c68;
}
