*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
    font-size: 62.5%;
    background-image: linear-gradient(#2d2f31, #181710);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    flex-basis: 50%;
    min-width: 45rem;
    max-width: 60rem;
}

.fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    height: fit-content;
    max-width: 100%;
    border-radius: 5px;
    gap: 2rem;
    padding: 1rem;
    background-color: #2d2f31;
}

.title{
    align-self: center;
    font-weight: bold;
    font-size: 3.2rem;
    color: #96a5a7;
}

label{
    font-size: 2.4rem;
}

input{
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 3.6rem;
    padding-left: 1rem;
    margin-top: .5rem;
    font-size: 2rem;
    color: white;
    border-bottom: 2px solid #96a5a7;
    background-color: #1e2022;
}

textarea{
    border: none;
    resize: none;
    width: 100%;
    margin: .5rem;
    font-size: 2rem;
    border-bottom: 2px solid #96a5a7;
    background-color: #1e2022;
    color: white;
}

textarea:focus, input:focus{
    outline: none;
    background-color: #323435;
}

input:focus:valid {
    border-color: rgb(33, 151, 33);
}
 input:focus:invalid {
    border-color: rgb(255, 84, 84);
}

.btn{
    align-self: self-end;
    width: fit-content;
    border: none;
    margin: 0;
    padding: 0 2rem;
    height: 5.5rem;
    border-radius: 5px;
}