body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(45, 194, 194);
}

.titulo{
  text-align: center;
  margin-top: 150px;
}

.container{
  width: fit-content;
  margin: auto;
  overflow: auto;
  border-radius: 10px;
  height: 370px;
  width: 450px;
  background-color: azure;
}

.container .individuo{
  height: 100px;
  padding: 1px 0 0 5px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.individuo:hover{
  background-color: rgb(228, 226, 226);
}

.pic{
  float: left;
  padding-top: 5px;
  border-radius: 100px;
  width: 80px;
}

.nome{
  display: flex;
  font-weight: bold;
  margin: 20px 0 5px 8px;
  padding-left: 8px;
  font-size: 20px;
  letter-spacing: 1px;
}

.email-icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  padding-left: 8px;
}

