html, body{
  height: 100%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(rgb(5, 196, 196), rgb(157, 202, 202));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.main-title{
  text-align: center;
  justify-items: center;
  margin: 0 0 10px 0;
}

.main-container{
  overflow: auto;
  height: 400px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  background-color: azure;
  box-shadow: 3px 3px 10px black;
}

.list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item{
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}


.list-item .pic img{
  width: 70px;
  border-radius: 50%;
}

.dados{
  flex-grow: 1;
  padding-left: 10px;
}

.list-item .nome{
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.list-item .email{
  font-size: 15px;
  opacity: 65%;
  margin-top: 8px;
}

.icons img{
  width: 13px;
}

.icons{
  display: flex;
  gap: 8px;
  padding-top: 34px;
  opacity: 0;
}

.list-item:hover{
  background-color: rgb(204, 209, 209);
}

.list-item:hover .icons{
  opacity: .3;
}
